// Boxes

span.box {
  background: #878787;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  display: inline-block;
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 0.25em 1em 0.25em 1em;
  margin-bottom: 0.25em;
}

// Links

a {
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  color: #666;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  text-align: center;

  &:hover {
    color: #ed786a;
    border-bottom-color: rgba(255, 255, 255, 0);

    strong {
      color: #ed786a;
    }
  }
}

a.button {
  transition: all 0.25s ease-in-out;
  display: flex;
  background: #ed786a;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  font-weight: 600;
  font-size: 0.85em;
  letter-spacing: 2px;
  padding: 0.6em 1.5em;
  margin-bottom: 1em;

  &:hover {
    background: #fd887a;
  }

  &:active {
    background: #ed786a;
  }

  &.alt {
    background: #8cc9f0;

    &:hover {
      background: #92d4fd;
    }

    &:active {
      background: #84c6f0;
    }
  }
}
