@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");
@import url("fontawesome-all.min.css");
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #777;
  line-height: 2rem;
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

strong {
  font-weight: 600;
  color: #666;
}

header,
main,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

span.box {
  background: #878787;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
          box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  display: inline-block;
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 0.25em 1em 0.25em 1em;
  margin-bottom: 0.25em;
}

a {
  -webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  color: #666;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  text-align: center;
}

a:hover {
  color: #ed786a;
  border-bottom-color: rgba(255, 255, 255, 0);
}

a:hover strong {
  color: #ed786a;
}

a.button {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ed786a;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
          box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  font-weight: 600;
  font-size: 0.85em;
  letter-spacing: 2px;
  padding: 0.6em 1.5em;
  margin-bottom: 1em;
}

a.button:hover {
  background: #fd887a;
}

a.button:active {
  background: #ed786a;
}

a.button.alt {
  background: #8cc9f0;
}

a.button.alt:hover {
  background: #92d4fd;
}

a.button.alt:active {
  background: #84c6f0;
}

@media screen and (max-width: 200px) {
  html {
    word-break: break-all;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 8vw !important;
  }
  header,
  footer {
    word-break: break-all;
  }
  header,
  main {
    width: calc(100% - 2rem) !important;
  }
  main > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .container section + section {
    padding-left: 0 !important;
  }
  main > .container section .boxesWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .container section .boxesWrapper .boxWrapper {
    padding: 0 !important;
  }
  main > .container div.actions {
    width: 100%;
  }
  main > .container div.actions .button + .button {
    margin-left: 0 !important;
  }
  footer > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer > .container > div.icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  footer > .container > div.icon + div.icon {
    margin-top: 1.5rem;
  }
  a.button {
    width: 100%;
    display: block;
    padding: 1em 0 1em 0;
  }
}

.icon:before {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}

.button.icon:before {
  padding-right: 0.75em;
  opacity: 0.5;
}

footer .icon:before {
  font-size: 0.8em;
  background: #878787;
  color: #e4e4e4;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  text-align: center;
  -webkit-box-shadow: 0.125rem 0.175rem 0 0 rgba(0, 0, 0, 0.125);
          box-shadow: 0.125rem 0.175rem 0 0 rgba(0, 0, 0, 0.125);
  margin-right: 0.5rem;
}

/*
	Some design elements is from template by HTML5 UP
	html5up.net | @ajlkn
*/
header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: calc(100% - 6rem);
  max-width: 1200px;
  margin: auto;
  border-bottom: solid 2px #e5e5e5;
  padding-top: 6rem;
}

header h1 {
  font-family: 'Arvo';
  font-weight: 700;
  color: #ed786a;
  text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
  font-size: 3em;
  letter-spacing: 13px;
}

header p {
  text-transform: uppercase;
  font-weight: 400;
  color: #888;
  margin: 2.5em 0 0 0;
  font-size: 0.85em;
  letter-spacing: 3px;
  text-align: center;
}

main {
  width: calc(100% - 6rem);
  max-width: 1200px;
  margin: auto;
  margin-top: calc(0.5rem);
  border-top: solid 2px #e5e5e5;
}

main > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .container > section {
  max-width: 800px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .container > section > .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .container > section > .actions .button + .button {
  margin-left: 1em;
}

main > .container > section .boxesWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main > .container > section .boxesWrapper .boxWrapper {
  padding: 0 1.5rem;
}

main > .container > section .boxWrapper {
  text-align: center;
  margin-bottom: 1.5em;
  max-width: 650px;
}

main > .container > section .boxWrapper p {
  margin: 0.5em 0 0.25em 0;
}

main > .container > section > p {
  margin-bottom: 2em;
  text-align: center;
}

main > .container > section + section {
  padding-left: 3rem;
}

main > .container > section.wide {
  padding-left: 0;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
}

main a.image {
  -webkit-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out;
  border: solid 6px #ebebeba1;
  margin: 0 0 1.5em 0;
  line-height: 0;
}

main a.image:hover {
  border: solid 6px #ebebeb;
}

main a.image > img {
  width: 100%;
  max-width: 800px;
}

footer {
  width: 100%;
  border-top: solid 2px #e5e5e5;
  background: #f0f0f0;
  padding-top: 2em;
}

footer > .container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer > .container + .container {
  margin-top: 1.5rem;
}
